* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header-container {
    max-width: 100%;
    background-color: #14161D;
    display: flex;
    align-items: center;
    padding: 15px;
}

.img-item {
    margin-right: 114px;
}

.input-item input{
    width: 670px;
    height: 30px;
    border-radius: 25px;
    background-color: #484848;
    padding: 10px;
    border: 1px;
}

.input-item img {
    position: absolute;
    left: 52.4vw;
    top: 5vh;
}

.main-container {
    display: flex;
    background-color: #181B24;
    max-width: 100%;
}

.icons-item {
    margin-top: 47px;
    margin-right: 112px;
    padding: 20px;
}

.icons-item img {
    display: block;
    width: 47px;
    height: 47px;
    margin-bottom: 24px;
}

.post-item {
    align-self:flex-start;
    justify-self: center;
    max-width: 670px;
    margin-top: 47px;
}

.postar {
    border: 1px solid #484848;
    border-radius: 10px;
    padding: 20px 31px 20px 31px;
}

#img-p {
    display: none;
}

.postar p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 58px;
}

.post-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.post-nav img {
    margin-left: 11px;
}

#postar-button {
    justify-self: end;
    background-color: #22A2F2;
    width: 98px;
    color: #000;
    font-weight: 600;
    font-size: 0.75em;
    border-radius: 10px;
    padding: 13px 30px 12px 30px;
    margin: 0 0 0 auto;
}

.posts {
    border: 1px solid #484848;
    padding: 47px 73px 20px 97px;
    margin-top: 30px;
    border-radius: 15px;
}

.posts p {
    color: #FFFFFF;
    margin-top: 3vh;
    max-width: 50vw;
    font-weight: 400;
    font-size: 1em;
}

.posts-user {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.posts-user img:nth-of-type(1){
    margin-right: 15px;
}

.posts-user img:nth-of-type(2){
    margin-right: 18px;
}

.posts-user img:nth-of-type(3){
    margin-right: 18px;
}

.posts-user h3 {
    font-size: 1.25em;
    font-weight: 400;
    color: #FFFFFF;
    margin-right: 186px;
}

.friends-item {
    margin-left: 112px;
    margin-top: 47px;
    width: 311px;
    color: #FFFFFF;
}

.friends-item h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 16px;
}

#conheca-mobile {
    display: none;
}

.user-item {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 16px;
}

.user-item h3 {
    font-size: 1.25em;
    font-weight: 400;
    margin-right: 65px;
}

.user-item button {
    border-radius: 15px;
    background-color: #222;
    color: #22A2F2;
    font-size: 1em;
    font-weight: 400;
    border: none;
    padding: 12px;
}

.user-item img {
    margin-right: 8px;
}